.menu {
  float: left;
  width: 80px;
  display: flex;
  padding: 5px;
  background-color: rgb(199, 179, 154);
}
.game {
  padding: 10px;
  display: flex;
}
button {
  margin: auto;
  display: block;
}
